{% extends 'base.html.twig' %}

{% block title %} Bienvenue chez {{ parent() }} {% endblock %}

{% block body %}
<div class="min-h-screen flex flex-col justify-center items-center bg-gray-100 font-serif bg-cover" style="background-image: url('{{ asset('images/fond-doc-and-go.jpg') }}');">
    <div class="max-w-3xl mx-auto px-6 py-12 bg-white shadow-md rounded-lg items-left text-left relative" style="left: 10%; margin-right: auto;">
<h2 class="text-5xl font-bold mb-6 text-left" style="color: #226D68; font-family: 'Britannic Bold Regular', Helvetica, Arial, sans-serif;">Bienvenue</h2>
        <p class="text-lg mb-6 font-sans">
            Notre plateforme de santé en ligne démocratise l'accès aux <span class="text-blue-500"><i class="fas fa-stethoscope"></i></span> soins médicaux</span>. Notre vision est simple : offrir une solution novatrice, sans barrières ni frontières, pour rendre la <span class="text-blue-500"><i class="fas fa-heartbeat"></i></span> santé</span> accessible à tous. Nous allons au-delà de la simple prise de <span class="text-blue-500"><i class="far fa-calendar-alt"></i></span> rendez-vous</span> médicaux en ligne. Doc-And-Go repense fondamentalement la manière dont les <span class="text-blue-500"><i class="fas fa-stethoscope"></i></span> soins de santé</span> sont dispensés, mettant l'accent sur l'<span class="text-blue-500"><i class="fas fa-wheelchair"></i></span> accessibilité</span>, la <span class="text-blue-500"><i class="fas fa-hand-holding-medical"></i></span> commodité</span> et la <span class="text-blue-500"><i class="fas fa-award"></i></span> qualité</span> des services.
        </p>
        <p class="text-lg mb-6 font-sans">
            Chez Doc-And-Go, nous croyons fermement que chacun a le droit à des <span class="text-blue-500"><i class="fas fa-stethoscope"></i></span> soins de santé</span> de qualité, peu importe son lieu de résidence ou son statut social. Nous nous engageons à rendre les <span class="text-blue-500"><i class="fas fa-stethoscope"></i></span> soins médicaux</span> aussi accessibles que possible : <span class="text-blue-500"><i class="fas fa-wheelchair"></i></span> accessibilité</span>.
        </p>
    </div>
</div>

{% endblock %}
