{% extends 'base.html.twig' %}

{% block title %} Bienvenue chez {{ parent() }} {% endblock %}

{% block body %}
    <div class="flex min-h-screen ">
        <div class="w-full lg:w-1/2 text-left bg-teal-50 text-black pb-20 px-8 lg:px-36   flex items-center">
            <div>
                <h1 class="text-5xl font-bold pt-2">DOC AND GO</h1>
		<h2 class="text-2xl">La plateforme qu'il vous faut ! </h2>
                <p class="text-dark text-2xl pt-4 font-sans">
                    On démocratise l'accès aux soins médicaux en ligne. Nous offrons une solution innovante pour rendre la santé accessible à tous, sans barrières ni frontières.
                </p>
            </div>
        </div>
        <div class="w-full lg:w-1/2 bg-teal-50 bg-cover flex items-center">
            <img src="{{ asset('images/doctor.png') }}" alt="Photo d'un docteur en blouse blanche" class="w-full h-full object-cover">
        </div>
    </div>

		{{ render(controller('App\\Controller\\SpecialityController::index')) }}


                    {{ render(controller('App\\Controller\\ChatBotController::index')) }}
{% endblock %}
