{% extends 'base.html.twig' %}

{% block title %} Bienvenue chez {{ parent() }} {% endblock %}

{% block body %}
<div class="relative flex min-h-screen">

    <div class="relative w-full lg:w-1/2 text-left bg-teal-50 text-black pb-20 pl-20 flex items-center z-10">

        <div>
            <h1 class="text-7xl font-bold pt-2">DOC AND GO</h1>
            <h2 class="text-3xl text-teal-500">La plateforme qu'il vous faut !</h2>
            <p class="text-dark text-2xl pt-4 font-sans">
                On d√©mocratise l'acc√®s aux soins m√©dicaux en ligne. Nous offrons une solution innovante pour rendre la sant√© accessible √  tous, sans barri√®res ni fronti√®res.
            </p>
            <div class="max-w-md  mt-6">
                <input type="text" id="searchSpeciality" placeholder="Rechercher une sp√©cialit√©..." class="w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:border-indigo-600">
            </div>
        </div>
        
    </div>

    <div class="absolute top-0 right-0 w-full lg:w-1/2 h-full bg-teal-50 bg-cover flex items-center z-0">
        <img src="{{ asset('images/doctor.png') }}" alt="Photo d'un docteur en blouse blanche" class="w-full h-full object-cover">
    </div>
    
</div>

		{{ render(controller('App\\Controller\\SpecialityController::index')) }}


                    {{ render(controller('App\\Controller\\ChatBotController::index')) }}
{% endblock %}
