<form method="post" action="{{ path('app_planing_delete', {'id': planing.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce planing?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planing.id) }}">
    <button class="btn">Supprimer</button>
</form>
