{% block _planing_exceptionaleClosure_widget %}
    <ul id="planing-exceptionaleClosure-fields-list"
        data-prototype="{{ form_widget(prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ value|length }}"
    >
        {% for key, exceptionaleClosureForm in form.children %}
            <li class="collection-item">
                {{ form_widget(exceptionaleClosureForm) }}
            </li>
        {% endfor %}
    </ul>

    <button type="button" class="add-item-btn collection-btn btn btn-primary" data-list-selector="#planing-exceptionaleClosure-fields-list">Ajouter un élément</button>
    <button type="button" class="remove-item-btn collection-btn btn btn-danger" data-list-selector="#planing-exceptionaleClosure-fields-list">Retirer un élément</button>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        function addItem(listSelector) {
            var list = document.querySelector(listSelector);
            var counter = list.children.length;
    
            var newWidget = list.dataset.prototype.replace(/__name__/g, counter);
            var newElem = document.createElement('li');
            newElem.className = 'collection-item';
            newElem.innerHTML = newWidget;
            list.appendChild(newElem);
    
            // Afficher le bouton de suppression
            var removeButtons = document.querySelectorAll('[data-list-selector="' + listSelector + '"].remove-item-btn');
            removeButtons.forEach(function (button) {
                button.style.display = 'inline-block';
            });
        }
    
        function removeItem(listSelector) {
            var list = document.querySelector(listSelector);
            var itemsCount = list.children.length;
            if (itemsCount > 0) {
                list.removeChild(list.lastElementChild);
            }
    
            // Masquer le bouton de suppression si la liste est vide
            var removeButtons = document.querySelectorAll('[data-list-selector="' + listSelector + '"].remove-item-btn');
            removeButtons.forEach(function (button) {
                button.style.display = list.children.length > 0 ? 'inline-block' : 'none';
            });
        }
    
        document.querySelectorAll('.remove-item-btn').forEach(function (button) {
            button.style.display = 'none';
        });
        document.querySelectorAll('.add-item-btn').forEach(function (button) {
            button.addEventListener('click', function () {
                var listSelector = this.getAttribute('data-list-selector');
                addItem(listSelector);
            });
        });
    
        document.querySelectorAll('.remove-item-btn').forEach(function (button) {
            button.addEventListener('click', function () {
                var listSelector = this.getAttribute('data-list-selector');
                removeItem(listSelector);
            });
        });
    });
    
</script>

{% endblock %}
