{% extends 'base.html.twig' %}

{% block title %}Modifier le planing {{ parent() }} {% endblock %}

{% block body %}
    <h1>Modification du Planing</h1>

    {{ include('planing/_form.html.twig', {'button_label': 'Mise à jour'}) }}
{% endblock %}
