{% extends 'base.html.twig' %}

{% block title %}Nouveau planing {{ parent() }} {% endblock %}

{% block body %}
    <h1>Créer un nouveau planing</h1>

    {{ include('planing/_form.html.twig') }}

{% endblock %}
