{% extends 'base.html.twig' %}

{% block title %}Nouveau Planing {{ parent() }} {% endblock %}

{% block body %}
    <h1>Créer un nouveau Planing</h1>

    {{ include('planing/_form.html.twig') }}
{% endblock %}
