{% for speciality in specialities %}
    {% if 'dent' in speciality.name|lower or 'médecin' in speciality.name|lower %}
        <a href="{{ path("app_speciality_show", {'id': speciality.id}) }}">{{ speciality.name }}</a>
    {% endif %}
{% endfor %}
