{{ form_start(form, {'attr': {'id': 'searchForm'}}) }}
<div id="searchTermsContainer"></div>
<div class="form-row align-items-center">
    <div class="col">
        {{ form_row(form.searchField) }}
    </div>
</div>
{{ form_end(form) }}

<div id="searchResultsContainer"></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('searchForm');
        var searchField = document.getElementById('search_searchField');
        var searchResultsContainer = document.getElementById('searchResultsContainer');
        var actionUrl = "{{ path('app_search_new') }}";

        searchField.addEventListener('input', function() {
            var searchTerm = searchField.value;

            if (searchTerm.length >= 4) {
                fetch(actionUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    body: JSON.stringify({ searchField: searchTerm }),
                })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(data => { throw new Error(data.error || 'Erreur inconnue') });
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.error) {
                        searchResultsContainer.innerHTML = `<div class="alert alert-danger">${data.error}</div>`;
                    } else {
                        searchResultsContainer.innerHTML = data.map(item => `<div>${item}</div>`).join('');
                    }
                })
                .catch(error => {
                    console.error('Erreur:', error);
                    searchResultsContainer.innerHTML = `<div class="alert alert-danger">Erreur: ${error.message}</div>`;
                });
            } else {
                searchResultsContainer.innerHTML = '<div class="alert alert-warning">Le terme de recherche doit comporter au moins 4 caractères.</div>';
            }
        });
    });
</script>
