<form method="post" action="{{ path('app_appointment_delete', {'id': appointment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir  Annuler ce rendez-vous?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appointment.id) }}">
    <button class="py-3 text-white mt-28 px-8 rounded-lg bg-red-700 m-2"><i class="fa-solid fa-xmark mr-2"></i>Annuler le rendez-vous</button>
</form>
