{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/RDV_docteur.css') }}">
{% endblock %}

<form method="post" action="{{ path('app_appointment_delete', {'id': appointment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir  Annuler ce rendez-vous?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appointment.id) }}">
    <button class="text-white py-2 px-4 rounded bg_red m-2" title="annuler"><i class="fa-regular fa-circle-xmark mr-3"></i>Annuler</button>
</form>