{% extends 'base.html.twig' %}

{% block title %}Prendre un rendez-vous {{ parent() }} {% endblock %}

{% block body %}

<h1>Prise de rendez-vous</h1>
    {{ include('appointment/_form.html.twig') }}
{% endblock %}
