{% extends 'base.html.twig' %}

{% block title %}Prendre un rendez-vous {{ parent() }} {% endblock %}

{% block body %}

<h1>Prendre un rendez-vous avec {{ doctor.firstName }}</h1>

    {{ include('appointment/_form.html.twig') }}
{% endblock %}
