{% extends 'base.html.twig' %}

{% block title %}Nous contacter {{ parent() }} {% endblock %}

{% block body %}
    <h1 class="text-center text-2xl mt-10 font-bold">Nous contacter</h1>

    {{ include('contact/_form.html.twig') }}
{% endblock %}
