<footer class="footer mt-5 py-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h5>À propos</h5>
          <p>Informations sur votre clinique médicale.</p>
        </div>
        <div class="col-lg-4">
          <h5>Le concept</h5>
          <p>Expliquez en quoi votre concept de prise de rendez-vous médical est unique.</p>
        </div>
        <div class="col-lg-4">
          <h5>Réseaux sociaux</h5>
          <ul class="list-unstyled">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>