{# templates/day_work/_form.html.twig #}

<div class="grid grid-cols-1 p-4 sm:grid-cols-2 bg-white shadow-lg border rounded">
    {{ form_row(form.startHour, {
        'label_attr': {'class': 'col-md-2 block mt-2 text-lg font-bold required mx-4 mt-4'},
        'attr': {'class': 'col-md-10 form-control mx-4 border w-1/4'}
    }) }}

    {{ form_row(form.endHour, {
        'label_attr': {'class': 'col-md-2 block mt-2 text-lg font-bold required mx-4 mt-4'},
        'attr': {'class': 'col-md-10 form-control mx-4 border w-1/4'}
    }) }}

    {{ form_row(form.slotDuration, {
        'label_attr': {'class': 'col-md-2 block mt-2 text-lg font-bold required mx-4 mt-4'},
        'attr': {'class': 'col-md-10 form-control mx-4 border w-1/4'}
    }) }}

<div style="display: none;">
    {{ form_row(form.date, {
        'label_attr': {'class': 'col-md-2 block mt-2 text-lg font-bold required mx-4 mt-4'},
        'attr': {'class': 'col-md-10 form-control mx-4 border w-1/4'}
    }) }}
</div>
</div>
