{# templates/day_work/_form.html.twig #}

<div class="grid grid-cols-1 sm:grid-cols-2 bg-white shadow-lg border rounded">
    {{ form_row(form.startHour, {
        'label_attr': {'class': 'col-md-2 block mt-2 text-lg font-bold required'},
        'attr': {'class': 'col-md-10 form-control'}
    }) }}

    {{ form_row(form.endHour, {
        'label_attr': {'class': 'col-md-2 block mt-2 text-lg font-bold required'},
        'attr': {'class': 'col-md-10 form-control'}
    }) }}

    {{ form_row(form.slotDuration, {
        'label_attr': {'class': 'col-md-2 block mt-2 text-lg font-bold required'},
        'attr': {'class': 'col-md-10 form-control'}
    }) }}

<div style="display: none;">
    {{ form_row(form.date, {
        'label_attr': {'class': 'col-md-2 block mt-2 text-lg font-bold required'},
        'attr': {'class': 'col-md-10 form-control'}
    }) }}
</div>
</div>
