{% extends 'base.html.twig' %}

{% block title %}New DayWork{% endblock %}

{% block body %}
    <h1>Create new DayWork</h1>

    {{ include('day_work/_form.html.twig') }}

    <a href="{{ path('app_day_work_index') }}">back to list</a>
{% endblock %}
