{% extends 'base.html.twig' %}

{% block title %} Nous rejoindre {{ parent() }} {% endblock %}

{% block body %}
    <div class="mt-8 text-center"> <!-- Ajout de la marge en haut -->
        <h1 class=" mb-3 text-3xl font-bold">Démarez l'aventure</h1>
    </div>

    {{ include('user/_form.html.twig') }}
{% endblock %}
