{% extends 'base.html.twig' %}

{% block title %} Nous rejoindre {{ parent() }} {% endblock %}

{% block body %}
    <div class="mt-8"> <!-- Ajout de la marge en haut -->
        <h1 class="text-center">Démarez l'aventure</h1>
    </div>

    {{ include('user/_form.html.twig') }}
{% endblock %}
